
button{
    margin: 2px 1px 1px 0;
    width: 50%;
    display: inline;
    background: cyan;
    color: white;
}

button:focus{
    background: white;
    color: cyan;
}

p{
    text-align: center;
    background: white;
    color: black;
}

section{
    background: white;
    color: black;
}
section:focus{
    background: magenta;
    color:white;
}

section#main-popup{
    background: cyan;
    color: white;
}

section#main-popup p{
    background: cyan;
}